.game-rooms-container {
  margin: 20px;
  padding: 25px;
  background-color: #fff;
  border-radius: 15px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
  height: 30vh;
}
h3{
  text-align: center;
}
.game-rooms-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
  height: 11px;
}

.game-rooms-title {
  font-size: 26px;
  font-weight: 600;
  color: #34495e;
  margin-left: 10px;
}


.game-rooms-table {
  width: 100%;
  border-collapse: collapse;
}

.game-rooms-table th, .game-rooms-table td {
  text-align: left;
  border-bottom: 1px solid #e0e0e0;
}

.game-rooms-table th {
  padding: 10px;
  background-color: #ecf0f1;
  font-weight: bold;
  color: #2c3e50;
  position: sticky;
  top: 0;
  z-index: 1;
}


.join-button {
  background-color: #3c654b;
  color: white;
  border: none;
  padding: 8px 16px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
  font-size: 15px;
}

.join-button:hover {
  background-color: #3c654b;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.5);
  justify-content: center;
  align-items: center;
}

.modal-content {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  background-color: white;
  padding: 30px;
  border-radius: 15px;
  width: 350px;
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15);
}

.modal-content h3 {
  margin-top: 0;
  color: #2c3e50;
  font-size: 20px;
}

.modal-content select {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.modal-content button {
  width: 100%;
  padding: 12px;
  margin-top: 15px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 15px;
}

#createRoomSubmitBtn {
  background-color: #1d2f24;
  color: white;
}

#createRoomCancelBtn {
  background-color: #473331;
  color: white;
}

#createRoomSubmitBtn:hover {
  background-color: #3c654b;
}

#createRoomCancelBtn:hover {
  background-color: #78554f;
}