<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<div th:fragment="gamePanel" class="game-panel">
  <div class="left-section">
    <a href="#" class="profile-link" id="profile-link">
      <i class="fas fa-user profile-icon"></i>
      <span th:text="${username}">Username</span>
    </a>
    <div class="coin-balance">
      <div class="coin-icon">₵</div>
      <span class="coin-amount" th:text="${coins}">0</span>
    </div>
  </div>
  <div class="right-section">
    <form th:action="@{/auth/logout}" method="post">
      <button type="submit" class="logout-button">Выйти</button>
    </form>
  </div>
  <div id="profile-popup" class="profile-popup">
    <div class="profile-content">
      <span class="close">&times;</span>
      <h2 th:text="${username}"></h2>
    </div>
  </div>
</div>

</html>