<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Главная страница</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
  <link rel="stylesheet" th:href="@{/assets/css/home_style.css}">
  <link rel="stylesheet" th:href="@{/assets/css/chat_style.css}">
  <link rel="stylesheet" th:href="@{/assets/css/game_panel.css}">
  <link rel="stylesheet" th:href="@{/assets/css/game_room_list.css}">
  <link rel="stylesheet" th:href="@{/assets/css/player_list.css}">
</head>
<body>
<input type="hidden" id="username" th:value="${username}">
<input th:if="${_csrf}" type="hidden"
       th:name="${_csrf.parameterName}"
       th:value="${_csrf.token}" />
<div th:replace="fragments/game-panel :: gamePanel"></div>
<div class="content-wrapper">
  <div class="main-content">
    <div th:replace="fragments/game-rooms-list :: gameRoomsList"></div>
  </div>

  <div class="chat-and-players-wrapper">
    <div class="chat-wrapper">
      <div th:replace="fragments/chat-component :: chat"></div>
    </div>
    <div class="player-list-wrapper">
      <div th:replace="fragments/player-list :: playerList"></div>
    </div>
  </div>
</div>
</body>
<script th:src="@{/assets/js/chat.js}"></script>
<script th:src="@{/assets/js/gamelist.js}"></script>
<script th:src="@{/assets/js/playerlist.js}"></script>
<script th:src="@{/assets/js/game_panel.js}"></script>

</html>